<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1><%= title %></h1>
<h3 class="upload"><a href="/upload">Upload</a> a new photo</h3>
<div id="photos">

    <% photos.forEach(function(photo) { %>
    <div class="photo">
        <a href='/photo/<%= photo.id %>/download'>
            <img src="/photos/<%= photo.path %>">
        </a>
        <h2><%= photo.name %></h2>
    </div>
    <% }) %>

</div>
</body>
</html>