body {
  padding: 30px 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #0c0c0c;
  color: #dddddd;
}


a {
  color: #00B7FF;
}

.photo {
    display: inline-block;
    margin-top: 20px;
    padding: 10px;
    border: 2px solid #121212;
    border-radius: 5px;
    box-shadow: 0 1px 2px #232323;
    background-color: #ffffff;
}

.photo h2 {
    margin: 0;
    margin-top: 5px;
    font-size: 14px;
    font-weight: 200;
    text-align: center;
    color: #0c0c0c;
}

.photo img {
    width: 200px;
}

.upload a {
    text-decoration: none;
}

